/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+go&plugins=show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* mian.css */
html,body,.full-height{height:100%}body{overflow-x:hidden;padding-bottom:100px;background-color:#fbfbfb}.emoji{height:1.2em}.demo-options{margin-bottom:30px}.opt__strict.not-strict{opacity:0.3}.checkbox{margin-right:10px}.source{width:100%;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;font-size:13px;padding:2px}.result-html{padding:2px 10px;overflow:auto;background-color:#fff;border:1px solid#ccc;border-radius:4px}.result-html img{max-width:35%}.result-src,.result-debug{display:none}.result-src-content,.result-debug-content{white-space:pre}.result-as-html.result-html{display:block}.result-as-html.result-src,.result-as-html.result-debug{display:none}.result-as-src.result-src{display:block}.result-as-src.result-html,.result-as-src.result-debug{display:none}.result-as-debug.result-debug{display:block}.result-as-debug.result-html,.result-as-debug.result-src{display:none}.demo-control{position:absolute;right:15px;top:-17px;border-radius:6px 6px 0 0;font-size:12px;background-color:#ddd}.demo-control a{padding:0 20px}.demo-control a:first-child{padding-left:30px}.demo-control a:last-child{padding-right:30px}.hljs{padding:9.5px}.hljs code{white-space:pre}.footnotes{-moz-column-count:2;-webkit-column-count:2;column-count:2}.footnotes-list{padding-left:2em}.warning{background-color:#ff8;padding:20px;border-radius:6px}.gh-ribbon{display:block;position:absolute;right:-60px;top:44px;-webkit-transform:rotate(45deg);transform:rotate(45deg);width:230px;z-index:10000;white-space:nowrap;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#686868;box-shadow:0 0 2px rgba(102,102,102,0.4);padding:1px 0}.gh-ribbon a{text-decoration:none!important;border:1px solid#ccc;color:#fff;display:block;font-size:13px;font-weight:700;outline:medium none;padding:4px 50px 2px;text-align:center}.form-inline.radio,.form-inline.checkbox{display:inline-block;margin-bottom:0;margin-top:0}.form-inline.form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline.form-control{display:inline-block;vertical-align:middle;width:auto}